{{define "yield"}}
    <div class="panel control">
        <form method="post" action="/gallery">
            <div class="panel-heading">{{.Title}}</div>
            <div style="padding: 12px 14px">
                <ul>
                    {{range .Images}}
                        <li>
                            {{.}}
                        </li>
                    {{end}}
                </ul>
            </div>
        </form>
    </div>
{{end}}